[submodule "module/glfw"]
	path = module/glfw
	url = https://github.com/glfw/glfw.git
[submodule "module/glm"]
	path = module/glm
	url = https://github.com/g-truc/glm.git
[submodule "module/Vulkan-Headers"]
	path = module/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
